name: Rust
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
jobs:
  native:
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v6
      - if: matrix.os == 'ubuntu-latest'
        name: Cache APT packages
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: libasound2-dev pkg-config libavutil-dev libavcodec-dev libavformat-dev libavdevice-dev libavfilter-dev libswscale-dev libswresample-dev libpostproc-dev ffmpeg waylandpp-dev
          version: 1.0
      - name: Setup rustfmt and clippy
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
      - name: Cache cargo build
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
          workspaces: |
            . -> target
      - name: Build crate
        run: cargo build --verbose
      - name: Format Check
        run: cargo fmt --check
      - name: "Clippy Check"
        run: cargo clippy --all-targets --verbose -- -D warnings
      - name: Test crate
        run: cargo test --verbose --all-features
