name: Rust

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  native:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v5
      - name: Setup rustfmt and clippy
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Cache cargo build
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
          workspaces: |
            . -> target

      - name: Build crate
        run: cargo build --verbose

      - name: Format Check
        run: cargo fmt --check

      - name: "Clippy Check"
        run: cargo clippy --all-targets --verbose -- -D warnings

      - name: Test crate
        run: cargo test --verbose --all-features

      - if: matrix.os == 'ubuntu-latest'
        name: cargo-deny
        uses: EmbarkStudios/cargo-deny-action@v2.0.13

  wasi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup rustfmt and clippy
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
          targets: wasm32-wasip1

      - name: Cache cargo build
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
          workspaces: |
            . -> target

      - name: Build crate (WASI)
        run: cargo build-wasm --verbose

      - name: Format Check
        run: cargo fmt --check

      - name: "Clippy Check (WASI)"
        run: cargo clippy-wasm --verbose -- -D warnings
